.menu-category {
    margin: 30px auto;
    width: 90%;
    margin-bottom: 60px;
}
.menu-category h2 {
    text-align: left;
    border-bottom: 2px solid #805231;
    padding-bottom: 5px;
}
.menu-category li {
    text-align: left;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.menu-category img{
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.menu-category li div {
    display: flex;
    flex-direction: column;
}

.menu-category li span {
    color: #3E1D0A;
    font-size: 16pt;
}

.menu-category li span.name {
    font-weight: bold;
}
.menu-category li span.price {
    font-style: italic;
}

.drink img{
    width: 100px;
    height: 120px;
}

